<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Skyrim Character History</title>
<link title="Style" type="text/css" rel="stylesheet" href="sca-styles.css" />
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td class="bannercell" rowspan="2"></td><td class="text-align:right">
<h2>${cat.name.localizedText}</h2>
</td>
</table>

<hr size="1">

<p>
<img src="${cat.name.key} category-summarybar-chart.png" alt="${cat.name.key} cumulative-areachart" />
</p>

<h3>Cumulated values per character</h3>
<table class="log" border="0" cellpadding="5" cellspacing="2" width="100%">
<thead>
<tr>
    #foreach( $column in $playerMaxValueTable.columns )
        <th>$column</th>
    #end
</tr>
</thead>
<tbody>
#foreach( $row in $playerMaxValueTable.rows )
    <tr class="a">
    #foreach( $column in $playerMaxValueTable.columns )
        <td>$row.getCell($column)
        #if ($row.isMaxValue($column))
            <img src="star_yellow.gif" />
        #end
        </td>
    #end
    </tr>
#end
</tbody>
<tfoot>
<tr>
    #foreach( $column in $playerMaxValueTable.columns )
        <th>
        $playerMaxValueTable.footer.getCell($column)
        </th>
    #end
</tr>
</tfoot>
</table>

</body>
</html>
