<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Skyrim Stats Categories</title>
<link title="Style" type="text/css" rel="stylesheet" href="sca-styles.css" />
</head>
<body>
<h5>Categories</h5>
<table width="100%">
    <tr>
        <td nowrap="nowrap"><a href="frame-summary.html"
            onclick='parent.statList.location.href="frame-statnames.html"'
            target="summary">All</a></td>
    </tr>
    #foreach( $cat in $categories )
    <tr>
        <td nowrap="nowrap"><a
            href="frame-summary-${cat.name}.html"
            onclick='parent.statList.location.href="frame-${cat.name}.html"'
            target="summary">$cat</a></td>
    </tr>
    #end
</table>
</body>
</html>
