<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Skyrim Character History</title>
<link title="Style" type="text/css" rel="stylesheet" href="sca-styles.css" />
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td class="bannercell" rowspan="2"></td><td class="text-align:right">
<h2>Skyrim Character Level</h2>
</td>
</table>

<hr size="1">

<p>
<img src="level-barchart.png" alt="level-barchart" />
</p>
<p>
<img src="level-cumulative-areachart.png" alt="level-cumulative-areachart" />
</p>
<p>
<img src="level-delta-barchart.png" alt="level-delta-barchart" />
</p>

<h3>Cumulated values per character</h3>
<table class="log" border="0" cellpadding="5" cellspacing="2" width="100%">

<tr>
    #foreach( $column in $playerMaxValueTable.columns )
        <th>$column</th>
    #end
</tr>

#foreach( $row in $playerMaxValueTable.rows )
    <tr class="a">
    #foreach( $column in $playerMaxValueTable.columns )
        <td>$row[$column]</td>
    #end
    </tr>
#end
</table>

</p>


</body>
</html>
